body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow-x: hidden;
    display: flex;
}

#root {
    margin: auto;
    max-width: 1200px;
}

.black-bg {
    display: flex;
    border-radius: 8px;
    background-color: #000;
    opacity: 0.8;
    padding: 20px;
    margin: 12px;
}

.grow {
    flex-grow: 1;
}

.controls {
    display: flex;
}

.btn {
    text-transform: uppercase;
    border: #fff solid 1px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    background-color: #807e82;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    padding: 6px;
}

#languages {
    margin: 0 20px;
}

select {
    width: inherit;
    height: inherit;
    padding: 0;
}

/* #temperature button {
  background-color: #312f37;
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
}  
 */
.active-temperature {
    background-color: #3d6e28;
}

.search-block {
    min-width: 400px;
}

#searchField {
    border: #fff solid 1px;
    background-color: transparent;
    margin: 0;
    border-radius: 2px;
    font-size: 16px;
    color: #fff;
    padding: 6px;
}

main {
    display: flex;
}

p {
    margin: 0;
    padding: 0;
}

.city,
.country {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
}

.city {
    margin-left: 10px;
}

.clock {
    margin-left: 10px;
}

.main-content .state {
    display: flex;
}

.forecast {
    display: flex;
}

.temperature-value {
    display: flex;
    margin: auto 100px;
}

#temperatureNumber {
    font-size: 126px;
}

#temperatureDegrees {
    font-size: 80px;
    margin-left: 6px;
}

.description-weather {
    list-style: none;
    text-align: left;
    padding-left: 0;
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
}

.description-weather > li {
    padding-bottom: 12px;
}

#icon {
    width: 270px;
    height: 170px;
    margin-bottom: 40px;
}

.map {
    min-width: 400px;
}
